<!DOCTYPE html>
<html>
   
<head>
    <title>After School Lessons</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        
        <header>
            <h1 v-text="sitename"></h1>
            <button v-if="cart.length > 0" v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>Cart 
            </button>
        </header>
        
        <div class="container">
            <div class="root">
                <aside>
                    <h4>Sort by</h4>
                    <ul>
                        <li><button v-on:click="type = 'subject'">Subject</button></li>
                        <li><button v-on:click="type = 'price'">Price</button></li>
                        <li><button v-on:click="type = 'location'">Location</button></li>
                    </ul>
                </aside>
                <main>
                    <div v-if='showProduct'>
                        <div class="title-bar">
                            <h1>Lessons</h1>
                            <select v-model="sort" id="sortby">
                                <option value="ascending">Ascending</option>
   
                                <option value="descending">Descending</option>
                            </select>
                       </div>
   
                       <hr>
                       <div class="lessons">
                           <div v-for="(lessons, index) in sortedLessons" :key="`lesson--${index}`"
                           class="lessons__item">
                           <h2><p>Subject: {{ lessons.subject }}</p></h2>
                           <figure>
                               <img v-bind:src="lessons.image" width="250" height="200">
                           </figure>
                           <p>Location: {{lessons.location }}</p>
                           <p>Price: {{lessons.price }}</p>
                           <p>Spaces: {{lessons.availableInventory}}</p>
                          
                           <button v-on:click='addToCart(lessons)' :disabled="!lessons.availableInventory">Add to cart</button>
                           <span v-if="lessons.availableInventory">{{ lessons.availableInventory + ' Left'}}</span>
                          
                           <span v-else>This lesson is out of stock!</span>
                       </div>
                    </div>
                   </div> 
                   <div v-else>
                       <div class="container">
                           <div class="title-bar">
                               <button v-on:click="showCheckout"><span class="fas fa-arrow-left"></span> Previous page</button>
                               <h4>Total Amount: {{total}}</h4>
                           </div>
                           <h4>Your cart</h4>
                           <div class="cart">
                               <div class="cart__item">
                                   <div style="width: auto;">Image</div>
                                   <div>Subject</div>
                                   <div>Location</div>
                                   <div>Price</div>
                                   <div style="width: auto;">Action</div>
                               </div>
                               <hr style="width: 100%">
                               <div class="cart__item" v-for="(item, index) in cart" :key="`cart--${index}`">
                                    <div style="width: auto";>
                                       <img :src="item.image"></div>
                                    <div>{{item.subject}}</div>
                                    <div>{{item.location}}</div>
                                    <div>{{item.price}}</div>
                                    <div style="width: auto;"><button v-on:click="removeToCart(item)"
                                        class="fas fa-minus-square" aria-hidden="true">
                                    </button></div>
                               </div>
                              
</body>
</html>